body{
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100vh;
  justify-content:center;
  font-family:"Open Sans",sans-serif,Ubuntu,Arial,Roboto;
  background: #ff7;
    text-align:center;
} input:focus{
  outline:none;
  box-shadow:7px 5px 15px 3px rgba(0,0,0,.3);
  transform:scale(1.1);
} input{
  text-align:center;
  background: none;
  border:2px solid;
  border-radius:5px;
  margin:5px 0px;
  padding:5px 2px;
  margin-left:7px;
    box-shadow:5px 4px 8px rgba(0,0,0,.3);
  margin-bottom: 9px;
  font-weight:900;
} #submit{
  text-align:center;
} button:focus{
  outline: none;
} button{
    cursor: pointer;
  margin:10px;
  font-size:17px;
  font-weight:600;
  background: #ddd;
  border: 2px solid;
  border-radius:4px;
  box-shadow: 6px 4px 7px rgba(0,0,0,.25);
} button:hover{
  transform:scale(1.2);
  box-shadow: 8px 6px 9px rgba(0,0,0,.35);  
} label{
  cursor: pointer;
font-weight:bold;
} #email{
  margin-left:48px;
} #password{
  margin-left:11px;
} #user{
  margin-left:10px;
} h1{
  pointer-events:none;
} .inps{
  transform:translateX(-50px);
}
